    <div class="footer">
      <div>
        <a href="http://github.com/ovatsug25">
          <img alt="gitHub" src="/images/GitHub-Mark/PNG/GitHub-Mark-32px.png">
        </a>
        <a href="https://www.linkedin.com/in/ovatsug25">
          <img alt="linkedIn" src="/images/LinkedIn-Logo/InBug-30px-R.png">
        </a>
        <a href="http://twitter.com/ovatsug25">
          <img alt="twitter" src="/images/TwitterLogo/Twitter_logo_blue_32px.png">
        </a>
      </div>
      <div id="copyright">
        Gustavo Tavares 2013
      </div>
    </div>
