    <div class="footer row">
      <div class="right small-12 medium-6 columns">
        Gustavo Tavares 2014
        - Built with
        <a href="">
          Middleman.
          <!-- <img width="32" height="32" alt="Middleman" src="/images/mm&#45;blue&#45;w&#45;text.svg"> -->
        </a>
      </div>
      <div class="left small-12 medium-6 columns">
        <a href="http://github.com/ovatsug25">
          <img alt="gitHub" src="/images/GitHub-Mark/PNG/GitHub-Mark-32px.png">
        </a>
        <a href="https://www.linkedin.com/in/ovatsug25">
          <img alt="linkedIn" src="/images/LinkedIn-Logo/InBug-30px-R.png">
        </a>
        <a href="http://twitter.com/ovatsug25">
          <img alt="twitter" src="/images/TwitterLogo/Twitter_logo_blue_32px.png">
        </a>
      </div>
    </div>
  </div>
