  <title><%= current_page.data.title %></title>
  <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/foundation.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/workspose.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width" />
