<ul class="no-bullet">
  <li><a href="/poems/attack_on_whitman.html">Attack on Whitman</a></li>
  <li><a href="/poems/drugs.html">Drugs</a></li>
  <li><a href="/poems/protect_me_from_mother.html">Protect Me From Mother</a></li>
  <li><a href="/poems/rebirth.html">Rebirth</a></li>
  <li><a href="/poems/talking_to_the_suicidal.html">Talking to the Suicidal</a></li>
</ul>
