        <ul class="no-bullet">
          <li><a href="/success_guide/self/index.html">Self</a></li>
          <li>
          <ul class="no-bullet">
            <li><a href="/success_guide/self/intelligence.html">Intelligence</a></li>
            <li><a href="/success_guide/self/mistakes.html">Mistakes</a></li>
            <li><a href="/success_guide/self/quitting.html">Quitting</a></li>
          </ul>
          </li>
          <li><a href="/success_guide/entrepreneurship/index.html">The Go-Getter Attitude</a></li>
          <li>
          <ul class="no-bullet">
            <li><a href="/success_guide/entrepreneurship/accounting.html">Accounting</a></li>
            <li><a href="/success_guide/entrepreneurship/cold_calling.html">Cold Calling</a></li>
            <li><a href="/success_guide/entrepreneurship/marketing.html">Marketing</a></li>
          </ul>
          </li>
          <li><a href="/success_guide/making/index.html">Making</a></li>
          <li>
          <ul class="no-bullet">
            <li><a href="/success_guide/making/programming.html">Programming</a></li>
            <li><a href="/success_guide/making/robotics.html">Robotics</a></li>
            <li><a href="/success_guide/making/shop.html">Shop</a></li>
          </ul>
          </li>
          <li><a href="/success_guide/team/index.html">Team</a></li>
          <li>
          <ul class="no-bullet">
            <li><a href="/success_guide/team/communication.html">Communication</a></li>
            <li><a href="/success_guide/team/management.html">Management</a></li>
            <li><a href="/success_guide/team/accounting.html">Accounting</a></li>
          </ul>
          </li>
        </ul>
          <!-- Finishing -->
          <!-- Resources -->
