  <div class="" data-topbar>
    <div class="row" data-topbar>
      <div class="small-1 columns"><br/></div>
      <div class="hylotron-120 small-1 columns"></div>
      <div class="headline small-12 medium-12 large-6 columns left">
        <h1 style="font-family:andale mono;color: #A079C8; text-align:center;text-shadow: -1px 0 #663399, 0 1px #663399, 1px 0 #663399, 0 -1px #663399;">
          <!-- &#45;webkit&#45;text&#45;stroke&#45;width: 2px; &#45;webkit&#45;text&#45;stroke&#45;color: #663399;"> -->
          Gustavo Tavares
        </h1>
        <p style="text-align:center;color:#D15B5B;">Inspired by Dragonfruit
        </p>
      </div>
    </div>
  </div>
