      .purp-darkest { background-color: #3B0D6A; }
.purp-dark { background-color: #501B85; }
.purp { background-color: #663399; }
.purp-light { background-color: #7C4EAB; }
.purp-lightest { background-color: #A079C8; }

.complement-lightest { color: #FFF892 }
.complement-light { color: #FDF368 }
.complement { color: #E3D83F }  /* Main Complement color */
.complement-dark { color: #C6BB1C }
.complement-darkest { color: #9D9409 }

.mardi-gras-yellow { color: #FFFF66;}
.mardi-gras-green { color: #009966;}

/* *** Secondary color (1): */

/* shade 0 = #A22D8C = rgb(162, 45,140) = rgba(162, 45,140,1) */
/* shade 1 = #CF77BF = rgb(207,119,191) = rgba(207,119,191,1) */
/* shade 2 = #B54AA1 = rgb(181, 74,161) = rgba(181, 74,161,1) */
/* shade 3 = #8E1476 = rgb(142, 20,118) = rgba(142, 20,118,1) */
/* shade 4 = #70065C = rgb(112,  6, 92) = rgba(112,  6, 92,1) */


/* shade 0 = #443B9E = rgb( 68, 59,158) = rgba( 68, 59,158,1) */
/* shade 1 = #8881CC = rgb(136,129,204) = rgba(136,129,204,1) */
/* shade 2 = #5E56B0 = rgb( 94, 86,176) = rgba( 94, 86,176,1) */
/* shade 3 = #2D2389 = rgb( 45, 35,137) = rgba( 45, 35,137,1) */
/* shade 4 = #1C146D = rgb( 28, 20,109) = rgba( 28, 20,109,1) */

