      .hylotron-120 {
        background-image: url(/images/hylotron/hylotron_front.120px.png);
        background-repeat: no-repeat;
        background-position: left top;
        width: 64px;
        height: 120px;
        margin-bottom: 5px;
      }
      .hylotron-64 {
        background-image: url(/images/hylotron/hylotron_front.64px.png);
        background-repeat: no-repeat;
        background-position: left top;
        width: 34px;
        height: 64px;
        padding: 10px;
        margin-bottom: 5px;
      }
