<div id="article">
Here's a list of things to learn about.

</br>
</br>

Start by focusing on yourself. You are the most important thing out there right now.

</br>
</br>

Then focus on your team. You can't help out your team if you are not comfortable in your own skin.

</br>
</br>

Take breaks to learn about how to build things. That is very, very important. It will take a lot of time to get really good at it so start now.

</br>
</br>

Good luck!

We believe in you. Put that work in and you will be good to go!
</div>
<%= render 'success_guide_menu' %>
