<div id="article">
<h1 id="foreword">So much to learn!</h1>

<p>Many people who program and build something like a robot become different people towards the end of the process. Having made something out of nothing, you will begin to realize that the world around us is our creation and that we can choose to keep building on top of it. Does this excite you? Well you are in luck. Here are some links where you can continue to learn about programming, entrepreneurship and creation, and of course, ROBOTS!
The following is a list of links of classes and tutorials you can look into, potential jobs you could work and a list of universities and other educational institutions that cultivate people like you.</p>

<h1 id="links">Links</h1>

<ul>
<li><a href="#generalknowledge">General Knowledge</a></li>
<li><a href="#computerscience">Computer Science</a></li>
<li><a href="#robotics">Robotics</a></li>
<li><a href="#self">Self</a></li>
<li><a href="#entrepreneurship">Entrepreneurship</a></li>
<li><a href="#physics">Physics</a></li>
<li><a href="#dataandstatistics">Data and Statistics</a></li>
<li><a href="#math">Math</a></li>
<li><a href="#economics">Economics</a></li>
<li><a href="#librarylinks">Library links</a></li>
</ul>

</br>

<h2 id="generalknowledge">General Knowledge</h2>

<ul>
<li><p><a href="http://www.khanacademy.org/">Khan Academy</a><br/>
-A native New Orleanian will explain any topic to you. Seriously. He is super smart, and crystal clear. Come here if you want a better teacher or just want to move on to the next topic. Plus there are helpful exercises on this website so you can practice the concepts you learn.</p></li>
<li><p><a href="http://www.ted.org/">TED - Technology, Entertainment, Design</a><br/>
-Dream. Be Inspired. TED Talks are the new thing. The way smart people find other smart people is by asking, &#8220;Are you a TED talks person?&#8221; Learn how to be one. Host a TEDx event at your school.</p></li>
<li><p><a href="http://kidsahead.com/">KidsAhead</a> </p></li>
<li><p><a href="http://www.stem-works.com/">STEM Works</a> </p></li>
<li><p><a href="http://www.instructables.com/">Instructables</a><br/>
-Interested in building something? Instructables is the way to go. Here you can find recipes to build simple robots, cartoons and more complicated stuff.</p></li>
<li><p><a href="https://www.coursera.org/">Coursera</a><br/>
-Despite what people may tell you, you are old enough to understand a lot of what goes on in college. These are real college courses which you can sit in on for free!. Take advantage of this new information-dense world around you.</p></li>
</ul>

<h2 id="computerscience">Computer Science</h2>

<ul>
<li><p><a href="http://www.udacity.com/">Udacity</a><br/>
-From the guy who created self-driving cars, this is a new model for a university which he claims will overthrow the establishment in 50 years. He might be wrong, but self-driving cars will definitely be part of our future and it certainly looks like Udacity will be part of it as well. </p></li>
<li><p><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-001-structure-and-interpretation-of-computer-programs-spring-2005/">Structure and Interpretation of Computer Programs (Lectures)</a><br/>
-Now, this won&#8217;t be easy. The LISP programming language is not exactly common. But learn about it because it is the most powerful tool available to us on the computer. It might take you a few years, but even the crumbs are worth it. Trust me.</p></li>
<li><p><a href="http://mitpress.mit.edu/sicp/full-text/book/book.html">Structure and Interpretation of Computer Programs (Free Book)</a><br/>
-This book is available FO FREE. And it is a complement to the lectures and the courses offered above.</p></li>
<li><p><a href="http://news.ycombinator.com/">Hacker News</a><br/>
-Reddit, Dropbox, AirBnB, Yahoo Stores!, are all part of the Y Combinator family of startups. Check this frequently to learn about what is going on in the world of tech. You might not understand most of it, but you will begin to see traces of what the cutting edge in technology business and educational mentoring looks like.</p></li>
<li><p><a href="http://www.reddit.com/r/Programming">Reddit / Programming</a><br/>
-Just a great community that may be helpful in case you are not ready for Hacker News yet.</p></li>
<li><p><a href="http://www.reddit.com/r/CompSci">Reddit / Computer Science</a><br/>
-Just a great community that may be helpful in case you are not ready for Hacker News yet.</p></li>
<li><p><a href="http://www.reddit.com/r/Engineering">Reddit / Engineering</a><br/>
-This one is different from Hacker News because it focuses more on real world materials. Like big bridges, nuclear power plants and other cool stuff. Check it out.</p></li>
<li><p><a href="http://matt.might.net/articles/what-cs-majors-should-know/">What CS Majors Should Know</a><br/>
-Interested in computers? Matt gives you a road map to follow. Read carefully, and refer to it from time to time so that you can make sure you cross of most of the items on this list.</p></li>
<li><p><a href="http://w3schools.com/">Learn about managing this website - W3 Schools</a><br/>
-Definitely a great place to start. I encourage you to build your own website. And make a new version of this one.</p></li>
<li><p><a href="https://developer.mozilla.org/en-US/learn">Mozilla Developer Network</a>
-A little bit more complicated and thorough tan W3 Schools. Move on to this one soon.</p></li>
<li><p><a href="http://ruby.railstutorial.org/">Learn about making a better version of this website - Ruby on Rails Tutorial</a><br/>
-Use this awesome free book to create your own web application like the blowup.</p></li>
</ul>

<h2 id="physics">Physics</h2>

<ul>
<li><a href="http://research.microsoft.com/apps/tools/tuva/index.html">Feynman Lectures</a><br/>
-Bill Gates thought that you should see this, so he paid a few million dollars to put this online. Feynman is funny. He used to be a nuclear bomb blueprint thief. He also used to be a drummer in a Mardi Gras parade while he lived in Brazil. Definitely check this out.</li>
</ul>

</br>

<h2 id="math">Math</h2>

<ul>
<li><a href="http://worrydream.com/KillMath/">Kill Math by Bret Victor</a><br/>
-Brought to you by one of the people who made the iPhone: this is how math will be taught in the future. Check it out.</li>
</ul>

</br>

<h2 id="dataandstatistics">Data and Statistics</h2>

<ul>
<li><p><a href="http://flowingdata.com/">Flowing Data</a><br/>
-Data AKA information, is beautiful. Check out this blog which bring out cool visualizations everyday.
-Here is a special link from Flowing Data for his data and visualization sources. <a href="http://flowingdata.com/2012/04/27/data-and-visualization-blogs-worth-following/">Here is the link</a></p></li>
<li><p><a href="http://www.r-project.org/">R Project</a><br/>
-This is some of the most powerful statistical software out there. Best part? It&#8217;s free. Not exactly easy to use, but if you check out some of the Khan Academy videos on &#8220;Linear Algebra&#8221; you will be off to a good start. Keep this in mind for the future.</p></li>
<li><p><a href="http://www.gapminder.org/">Gapminder</a><br/>
-A beautiful new way to look at the world. You should really check out the TED talks by Hans Rosling as he guides you through one of these lectures.</p></li>
<li><p><a href="http://www.census.gov/main/www/access.html">US Census</a><br/>
-Curious about how your country works? Download the datasets from here and plug them into R. You might just find something cool.</p></li>
<li><p><a href="http://www.bls.gov/cps/">Current Population Survey</a><br/>
-Even more detailed then the Census, here you can find out how many cats your neighbor has and how many beans he eats for dinner. Download and play with the datasets, you&#8217;re gonna have a good time.</p></li>
</ul>

<h2 id="robotics">Robotics</h2>

<ul>
<li><p><a href="http://robocom.rrobek.de/?area=main">Robocom - The Programming Game</a><br/>
-Robots are fun. Armies of robots are even more fun. Program your own battalion.</p></li>
<li><p><a href="http://www.reddit.com/r/robotics/">Reddit / Robotics</a><br/>
-A great way to find out about Robotics related stuff.</p></li>
<li><p><a href="http://spark.irobot.com/">iRobot : SPARK (Starter Programs for the Advancement of Robotics Knowledge)</a><br/>
-Feel like you need more? This is a great launching pad. I don&#8217;t post more links here because all you really need will be available once you follow this one.</p></li>
<li><p><a href="http://www.instructables.com/tag/type-id/category-technology/channel-robots/">Instructables / Robotics</a><br/>
 -Build simple robots with stuff you can fins around your house. Start getting great ideas.</p></li>
<li><p><a href="http://www.usfirst.org/roboticsprograms/frc/2012-rebound-rumble">First Robotics Kickoff</a> </p></li>
<li><p>Straight from the source.</p></li>
<li><p><a href="http://www.usfirst.org/roboticsprograms/frc/mentor-resources-library">Mentor Resources</a><br/>
-Because you have a right to know what you are going to be taught.</p></li>
<li><p><a href="http://www.ni.com/gettingstarted/labviewbasics/">National Instruments Labview</a>
-The official place to get started.</p></li>
</ul>

<h2 id="self">Self</h2>

<ul>
<li><a href="http://paulgraham.com/nerds.html">Why Nerds are Unpopular</a></li>
</ul>

<p>// Intelligence</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Carol_Dweck">Carol Dweck @ Wikipedia</a></li>
<li><a href="http://www.amazon.com/Mindset-The-New-Psychology-Success/dp/0345472322/ref=sr_1_1?ie=UTF8&amp;qid=1335041139&amp;sr=8-1">Mindset: The new psychology of success - Book </a><br/>
// (This is a link for Amazon, but I&#8217;m sure you could easily find it in a library.)<br/>
-The world boiled down to two types of people. Fixed mindset people and Growth mindset people. Do you believe you can become more intelligent and more valuable? Or will everybody always be smarter than you? At the end of the day, it is better to believe the growth mindset cause otherwise there is no point to learning.</li>
</ul>

</br>

<h2 id="academic">Academic</h2>

<ul>
<li><p><a href="http://matt.might.net/articles/nine-kinds-of-students/">Nine Kinds of Students</a><br/>
-Which one are you?</p></li>
<li><p><a href="http://www.cs.virginia.edu/~robins/YouAndYourResearch.html">Richard Hamming. &#8220;You and Your Research&#8221;</a><br/>
-Producing great work.</p></li>
<li><p><a href="http://matt.might.net/articles/phd-school-in-pictures/">What is a PhD?</a><br/>
-Curious? This is explained in pictures. Don&#8217;t fear. It will come to you easily.</p></li>
</ul>

<h2 id="entrepreneurship">Entrepreneurship</h2>

<ul>
<li><p><a href="https://www.innocentive.com/ar/challenge/browse">Innocentive</a><br/>
-Earn $10,000 solving a practical idea. There are things posted here which you can solve. Find a problem that interest you and find a solution.</p></li>
<li><p><a href="http://paulgraham.com/founders.html">What we look for in founders</a><br/>
-AKA, why we want to hire you. If you would like to succeed, read this carefully. If you want to be making a lot of money, read this with care. No one will tell you more clearly how you can be successful at what you want to do.</p></li>
<li><p><a href="http://paulgraham.com/word.html">A Word to the Resourceful</a><br/>
-The importance of being able to find and process information on your own. You are responsible for your success. Pay attention.</p></li>
<li><p><a href="http://www.raspberrypi.org/">What you want at Christmas - Raspberry Pi</a><br/>
-$30 bucks for a computer component that will allow you to send a cat to the moon and back. (Not exactly, but this little device will fit anywhere and will allow you to program all sorts of stuff.)</p></li>
</ul>

<h2 id="writingandcommunicating">Writing and Communicating</h2>

<ul>
<li><p><a href="http://paulgraham.com/writing44.html">Writing, Briefly</a><br/>
-If you can say something in 5 words, why would you say it with 50? </p></li>
<li><p><a href="http://paulgraham.com/essay.html">The Age of the Essay</a><br/>
-An essay isn&#8217;t what you think it is. How to discover your ideas.</p></li>
<li><p><a href="http://paulgraham.com/disagree.html">How to Disagree</a><br/>
-Prove your point. Don&#8217;t talk out of your buttocks.</p></li>
</ul>

<h2 id="economics">Economics</h2>

<p>https://en.wikibooks.org/wiki/Econometric_Theory</p>

<p>http://www.oswego.edu/~kane/econometrics/</p>

<p>http://www.oswego.edu/~kane/econometrics/chap_resources.htm</p>

<p>http://www.oswego.edu/~kane/econometrics/stud_resources.htm</p>

<h2 id="librarylinks">Library links</h2>

<ul>
<li><p><a href="http://library.loyno.edu/">Loyola University Library</a> </p></li>
<li><p>Don&#8217;t take no for an answer. If the information you want is available here, use the best of your persuasion skills to go get it.</p></li>
<li><p><a href="http://www.neworleanspubliclibrary.org/">New Orleans Public Library</a><br/>
-This is probably the most accessible to you. Outside of your school library of course.</p></li>
<li><p><a href="http://library.tulane.edu/">Tulane Library</a> </p></li>
<li><p>Don&#8217;t take no for an answer. If the information you want is available here, use the best of your persuasion skills to go get it.</p></li>
</ul>
</div>
