<div class="row"
  <div class="left small-12 columns">
    <h3 class="headline">My Story begins with this graph:</h3>
    <div id="linegraph"></div>
  </div>
</div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/dr/gdpPerCapita.js" charset="utf-8"></script>
