<div id="article">
<p>Do you want to be understood?</p>

<p>Unless you&#8217;re a socio-path, you probably do. If you are a socio-path, go back to my section that talks about self. You will probably find it rewarding.</p>

<p>How are you understood? By communicating of course. You may think that you are bad at getting your point across. Fortunately, communication is a skill. Which means that we can work on it and become much, much better at doing making ourselves understood.</p>

<p>Here are a few strategies:</p>

<h5 id="empathy:thinkliketheother">Empathy: Think like the other</h5>

<p>The most important thing when you communicate, in fact, when your work with a team is to think, talk, and act like the other person before you talk to them. Put yourselves in their shoes! If you don&#8217;t try to understand where they are coming from, chances are that anything you say will fly right over their head. </p>

<h5 id="brevity">Brevity</h5>

<p>Be brief. We all have a limited attention span. Choose your words carefully so that the other person is interested and energized when listening to you. If you drag on forever, your point will lose much of its luster.</p>

<p>Benjamin Franklin used to say:</p>

<blockquote>
<p>I wrote you a long letter because I didn&#8217;t have time to write you a short one.</p>
</blockquote>

<h5 id="drawapicture.">Draw a picture.</h5>

<p>A picture explains a thousand words. A diagram is worth a million. Drawing will often get you quite far. In fact, look around your computer and you&#8217;ll notice how often pictures and visuals are used to add information.</p>
</div>
