<div id="article">
<p>You would think that your current level of intelligence is what will make this robot really successful. Actually, the biggest factor will probably not be intelligence but how well you can work as a group by the attitudes you carry. (Remember that intelligence is malleable and you make yourself quite a bit smarter depending on your attitude.)</p>

<p>If your group allows itself to trust each other, communicate effectively and allows itself to learn, the group will transform into a team.</p>

<p>How do you do that?</p>

<p>Focus on yourself first. A group is built out of people and if the people within the group aren&#8217;t at peace with themselves, then it will be very hard to get anywhere. It would be like building a house with fault bricks. You might end up with a house, but it will surely have faulty bricks.</p>

<p>You might begin to notice that here is where the dynamic changes since many of you have had different experiences are at different types of peace with each other. You will not only have to make peace with yourself, but with the other team members around you. That peace is the cement that ties the bricks together.</p>

<p>Bricks are not perfect. They are rough and porous, but if the cement is smooth, and allows itself to ooze into the holes, the scatter of bricks becomes a strong wall.</p>

<p>Let&#8217;s extend the analogy. What if some of you are doors, windows, pipes and roof tiles while some of you remain bricks. Remember, we said that a team was a house. It&#8217;s very important to understand that not everyone can do everything. More important is that not everyone should do everything. Equally important is that some people are better at some things than other. In fact, they may be much better than some people than other.</p>

<p>Think of a door vs a window. Doors are usually made out of solid wood and provide privacy and security while a window does quite the opposite. They are brittle glass and leave everything exposed.</p>

<p>Some of you will be doors and some of you will be windows. Take advantage of the fact let each member play to their strengths.</p>

<p>Now, if you are a smart, you know that there are those of you who are glass doors with privacy film. There are those people who can seemingly do everything. In this case, you should allocate by economics and use your comparative advantage. Just because someone is better at everything doesn&#8217;t mean that they should do it all. If you can make 8 brownies or 10 pizzas in one hour and Clarissa can only make 6 pizzas and no brownies in one hours, that does not mean that the really capable person should make both. If the two of you worked together for one hour, you could end up with 18 pizzas or 6 pizzas and 8 brownies or 11 pizzas and five brownies.</p>

<p>By delegating, you will both be able to achieve more. You just need to know the appropriate strategies for dealing with this.</p>

<p>There is one caveat. The large disparity between the abilities of the two parties can cause some tension that is ultimately destructive.</p>

<p>The more productive person may feel that they are bearing the brunt. The less productive person may feel worthless. If you feel like you are either of the two, stop, just stop. These are phases in life and there will be a time when you may be the more productive or less productive person.</p>

<h6 id="forthelessproductiveperson:">For the less productive person:</h6>

<p>One bad thing that you can do for your team is pretend that you know the answer or make other believe that you can do more than what you actually can.</p>

<p>The <strong><em>worst</em></strong> thing you can to do yourself and your team is feel ashamed that you don&#8217;t know the answer.</p>

<p>You can and you should always ask for clarification if you don&#8217;t know something. You can always admit that you aren&#8217;t capable of doing something. Admitting that you don&#8217;t yet know or that you can&#8217;t yet do is the first step to learning. You&#8217;ll soon figure out the meaning of that which you do not know. You&#8217;ll soon find out how to do that difficult thing.</p>

<p>If you feel like other people are waiting on you to &#8220;get it&#8221;, don&#8217;t give up, keep asking questions, continue to conjecture about how thing will fall into place. Take one of the team members that you feel comfortable with and ask them to explain to you the question that is bugging you outside of regularly scheduled practices. Go get a coffee or take a walk.</p>

<p>Sometimes you are less productive because you forgot to do something or didn&#8217;t find a way to plan it into you day. You can feel guilty if you forgot to do something that was assigned but never be ashamed of yourself. You can learn and practice strategies to stay on top of your work. Look up information. Ask for help.</p>

<p>That is the absolute best thing you can do for yourself and for your team.</p>

<h6 id="forthemoreproductiveperson:">For the more productive person:</h6>

<p>You actually aren&#8217;t being as productive as you could be. As shown by the principle of comparative advantage, you could be doing more!</p>

<p>Learn how to seize the day. Teach that less productive how that thing works. Get involved in their success or failures. Act like a leader and not like a whiner.</p>

<p>The <strong><em>worst</em></strong> thing you can do is think that the rest of your team is worthless. When you act like this nobody will like you and with your diminished influence you will imply that your work won&#8217;t matter and that you won&#8217;t be achieving your full potential. You will likely become depressed. Especially if you meet people who are even more capable than you.</p>

<p>You may also be mistaking your ability. If you have been trying to explain the answer to somebody and they just don&#8217;t get it, chances are that you might not understand it yourself or that you haven&#8217;t practiced how to explain things. Think about it real hard. Clear, understandable explanations are the ultimate marker of the current level of knowledge and intelligence.</p>
</div>
<%= render 'success_guide_menu' %>
