<div id="article">
<p>Maintaing your team organized with everything you need to know is complicated. Inforamtion is hard to keep in sync. Fortunatley we live in the information age and the internet has many resources and applications that can keep your information in sync.</p>

<p>Most of these tools charge money, however, they also have basic fermium editions which you can use infefintely until you reach a certain memory cap.</p>

<p>File sharing:
 <a href="www.dropbox.com">Dropbox.com</a>
 Amount of free space: 2GB total</p>

<p>Note sharing:
 <a href="www.evernote.com">Evernote.com</a>
 Amount of free space: 2MB per month
 Evernote&#8217;s best feature is a web clipper you can use to copy links into a shared notebook amongst yourselves.</p>

<p>Group management:
 <a href="www.basecamp.com">Basecamp.com</a>
 Amount of free space: 10MB total
 Basecamp is a comprehensive group management product that allows you to keep a calendar and create and assign tasks to members of your group. It also allows you to upload files to share and allows you to have a document you all can edit amongst yourselves.
 37signals, the company that hosts Basecamp also has a fabulous work chat room when you wan to convene as a group outside normal hours.</p>
</div>
<%= render 'success_guide_menu' %>
