<% wrap_layout :default do %>
  <div class="row">
    <div class="small-11 medium-offset-1 columns">
      <h2><%= current_page.data.title %></h2>
      <!-- <h6>August 2010</h6> -->
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-offset-2 medium-7  large-5 columns">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="article-about small-11 medium-offset-1 medium-8 large-6 columns">
      <!-- <u> -->
      <div style="display:block;float:left">
        <img src="/images/profile-pics/glass.jpg" style="margin-right:15px;float:left;vertical-align:top;" height="80px" width="80px">
        <b style="font-size:35px;vertical-align:middle;">About Gustavo</b>
        <br />
        Gustavo is maintainer of Hylotron.
        Want to read more stuff by him?
        Dive into <a href="/dr">Dominican data</a> for his analysis.
        Meet his <a href="/melissa">Melissa</a>, a beautiful (and reviving) BMW E30.
        Or check out all <a href="/updates">articles</a> and the
        <a href="/success_guide">success guide:</a>
        the syllabus students get to win.
      </div>
    </div>
  </div>


<% end %>
