<% wrap_layout :default do %>
  <div class="row">
    <h1><%= current_page.data.title %></h1>
  </div>
  <div class="row">
    <div class="small-12 medium-offset-1 medium-5  large-5 columns">
      <%= yield %>
    </div>
  </div>
<% end %>
