<div id="article">
<p>Who are you?</p>

<p>Don&#8217;t be afraid by the simplicity of the question. Some people scoff at it because they think it&#8217;s too easy to answer. Really, when you can&#8217;t answer what this question you have no idea what you are doing.</p>

<p>Why is this question so important?</p>

<p>Imagine building a house without knowing what a brick is. Or a nail. It would be very hard to get anywhere.</p>

<p>Answering this question provides the foundation on which you can build your engineering skill-set – or any other skill-set for that matter.</p>

<p>It ensures that you can keep your goal in mind and do not get distracted by desirable, but ancillary pursuits.</p>

<p>You shouldn&#8217;t be afraid because you don&#8217;t know the answer, and that shouldn&#8217;t stop you from working. But to have the good-sense to keep this question present will provide you with the necessary direction to achieve your goals.</p>

<p>Where should you start?</p>

<p>First, begin by paying attention. Listen to yourself. Feel your breath. Hold it. Control it. Breath out. Do that constantly.</p>

<p>This is only a start. The complex subject of &#8220;Self&#8221;, more specifically &#8220;Yourself&#8221; will require never-ending examination.</p>

<p>At some point in time, the bible and religion were great places to begin this discovery process but many of them have become politicized. Here is a list of 3 books that strongly base themselves on proof and science. Two of them are very theoretical with an exercise or two in between. The last one is a biography that will paint a picture of a living, breathing example of someone who embodied the qualities presented in the theories.</p>

<p><a href="https://www.stanford.edu/dept/psychology/cgi-bin/drupalm/cdweck">Carol Dweck and her research</a>
-This is a link to her Stanford page. I would recommend starting with the <a href="http://mindsetonline.com/">Mindset: The New Psychology of Success</a>. A quick overview of the topic is available <a href="http://www.mindsetworks.com/webnav/whatismindset.aspx">here</a>. An Amazon link to the book is <a href="http://www.amazon.com/gp/product/1400062756/">here</a>.</p>

<p><a href="http://www.siyli.org/take-the-course/siy-curriculum/">Search Inside Yourself by Chade Meng-Tan</a>
-An early Google employee, he is Google&#8217;s official jolly good fellow and the person in charge of greeting persons such as Barack Obama, Bill Clinton and the Dalai Lama when they visit the Googleplex. He is also the creator of &#8220;Search Inside Yourself&#8221;, a course and concept which Google created to continue creating products that achieve Google&#8217;s ambitious and important mission of indexing all the information in the world.</p>

<p><a href="http://www.amazon.com/Surely-Feynman-Adventures-Curious-Character/dp/0393316041?tag=duckduckgo-d-20">&#8220;Surely you&#8217;re joking Mr. Feynman!?&#8221;(Adventures of a Curious Character) by Richard Feynman</a>
-Richard Feynman posses a unique quality among Nobel Prize winners in Physics - he was the only to publicly admit that he regularly hallucinates. He was also the only who didn&#8217;t put his light-protective glasses on when one of his collaborative projects – the atomic bomb. Feynman will be an inspirational example of the theoretical ideas presented above. This is his autobiography.</p>

<p>If you feel like you something is preventing you from achieving your goals this should be placed at the top of your reading list. For those who already know a little bit about what I&#8217;m talking about, continue your process of self-discovery and self-examination.</p>

<p>I want you all to be happy. I want you all to succeed. Becoming at peace with yourself is an incredibly important part. The engineering skill-set is incredibly important as well, but it is almost impossible to take advantage of that in a creative way until you are at peace, or beginning to achieve peace with yourself.</p>

</div>

