<div id="article">
<p>Your brain can be improved.</p>

<p>Neuroplasticity is the idea that your brain can be changed and molded into any shape you want just like plastic. You can take it, work it out, and become happier, smarter and better looking. (Yes, you will be a more beautiful person on the inside.)</p>

<p>Like plastic though, this change will not begin to occur at room temperature.. We need to be in a special mindset to let this happen.</p>

<p>This idea is explored very throughly by Carol Dweck in this book <em>Mindset: The New Psychology of Success</em>. This books is talked about a little more in depth at the end of the self section. <a href="http://mindsetonline.com/">Here is a link to the book&#8217;s official page</a> and a <a href="http://www.amazon.com/gp/product/1400062756/">link to Amazon</a>. Chances are that this book will be in a library near you, so go look there.</p>

<p>The hardest part about implementing this idea is the prevailing notion in our society that our qualities are somehow fixed and many people will have led you to believe that your identity is fixed.</p>

<p>They will tell you such things such as:</p>

<blockquote>
<p>&#8220;You are a B student.&#8221;</br>
&#8220;You are smart.&#8221;</br>
&#8220;You are stupid.&#8221;</br>
&#8220;You need to prove yourself.&#8221;</br>
&#8220;You are happy.&#8221;</p>
</blockquote>

<p>Don&#8217;t believe any of those statements or any similar statement. Life is experiential not existential. Rephrase those and tell them to yourself like this:</p>

<blockquote>
<p>&#8220;I didn&#8217;t put in my best effort and finished a mediocre job.&#8221;</br>
&#8220;I may have dona a good job becuase this had a good outcome.&#8221;</br>
&#8220;I have to decide what type of effort I put into this. Was not a failure, but it didn&#8217;t turn out to have a desirable outcome.&#8221;</br>
&#8220;I am myself. I can do anything I set my mind to.&#8221;</br>
&#8220;I feel happy.&#8221;</p>
</blockquote>

<p>Take control of your destiny. The highest achievement of a man is knowing themseleves.</p>
</div>
