<div id="article">
<h3 id="mistakeshappen.">Mistakes happen.</h3>

<p>Mistakes happen to everybody. </p>

<p>The difference between those who succeed and those who fail are how they deal with these mistakes.</p>

<p><em>Do you feel ashamed that you do not know the answer to a question?</em></p>

<p>Don&#8217;t! It is okay not to know the answer to a question. In fact, it is an opportunity because it tells you that there is something else that you are able to learn.</p>

<p><em>Are you embarrassed when you do something wrong?</em></p>

<p>Don&#8217;t feel embarrassed. Doing something wrong is part of the process of learning how to do something. When you are working on a non-trivial problem we almost expect you to be wrong most of the time!</p>

<p>In fact if we didn&#8217;t get things wrong, there would be no reason to do science. Good scientists are those that :
1. Want to find out how something work
2. Make an experiment to test the idea.
3. Decide whether the experiment proves the hypothesis, disproves the hypothesis or whether the result remains inconclusive.
4. Now, they know something about how the world works!</p>

<p>Good creators are the same way. They will build something and see if it works. If it doesn&#8217;t work, they move on to the next possibility.</p>

<p>Failure is informative!</p>

<p>There is one thing about mistakes though&#8230;</p>

<p>Is is important not to confuse a mistake for a lack of effort. Let’s say you are working on any math problem. If you approach the problem, and apply a procedure to get the right answer but still do not get the right answer, chances are you need to learn a little bit more about math or forgot to carry a negative.</p>

<p>If you look at the problem, decide it is too hard, or simply waive it off as easy and never solve it or try to find the answer for yourself, you are making a different type of mistake. This is an attitudinal mistake. There are many things to fix here. You shouldn’t think that you are bad because of it, but you should definitely try to find ways to correct this behavior.</p>

<h4 id="goodmistake:">Good mistake:</h4>

<p>Carefully consider all the options. You make a good attempt at planning for the issue. When you attempt the procedure, it fails and you notice that you forgot to do something.</p>

<h4 id="badmistake:">Bad mistake:</h4>

<p>I don&#8217;t want to try to plan for this. I won&#8217;t double-check my work. Trust me, this will work.</p>

<p>There is a difference. One is a genuine mistake. The other one is a lack of effort. Don&#8217;t confuse a mistake with a lack of effort.</p>

<p>Then again, even a lack of effort isn't a bad thing at all. What it really means is that you haven't yet built up your self-discipline, self-control, mindfulness to the point at which you were to succeed. Read the sections on self and intelligence again.</p>



<p>Also, in case you are curious and don&#8217;t believe, check out the biographies of these people which happen to have a lot of failure within them.</p>

<p><strong>Steve Jobs</strong> </p>

<p>Fired from his own company. Loses to Microsoft. Comes back to company. Makes the iPhone.</p>

<p><strong>Michael Jordan</strong> </p>

<p>This is a special case. He actually admits that he was never the best basketball player. When he tried out for the varsity basketball team in high school, he was cut. When he finished high school and was looking to play in college, he was never drafted. Instead he played as a walk-on. But every step of the way, he tried harder and harder to achieve his goals. He would work on perfecting a shot he missed for four to six hours after a game was over even after he was a pro. Though might</p>

<p><strong>Thomas Edison</strong></p>

<p>Tried out some 900 something versions of the light bulb before he found one that works.</p>

<p><strong>Benjamin Franklin, Thomas Jefferson, George Washington &amp; America</strong></p>

<p>The Articles of Confederation did not work out and had to be replaced by the constitution.</p>

<p><strong>Bill Gates</strong></p>

<p>His first company that sold devices that measured traffic actually didn&#8217;t make any money.</p>

<p><strong>NASA</strong> - &#8220;<a href=http://www.newscientist.com/article/mg16422070.900-schoolkid-blunder-brought-down-mars-probe.html>Schoolkid blunder brought down Mars probe&#8221</a>;<br/></p>

<hr />

<p>There are so many more. So when you fail, experience it like a point of new information.</p>

<p>If you make an attitudinal mistake, fix it. There really isn&#8217;t too much of a difference. You just haven&#8217;t built up enough strength to know how to keep going. You will eventually, bit there will be many more times when you will feel like giving up before you reach a point of success.</p>
</div>
