<div id="article">
<p>This is to to provide an alternative to StumbleUpon. Take a look.</p>

<ul>
<li><p><a href="http://news.ycombinator.com/">Hacker News</a><br/>
-Reddit, Dropbox, AirBnB, Yahoo Stores!, are all part of the Y Combinator family of startups. Check this frequqntly to learn about what is going on in the world of tech. You might not understand most of it, but you will begin to see traces of what the cutting edge in technology business and educational mentoring looks like.</p></li>
<li><p><a href="http://www.reddit.com/r/Programming">Reddit / Programming</a><br/>
-Just a great community that may be helpful in case you are not ready for Hacker News yet.</p></li>
<li><p><a href="http://www.reddit.com/r/CompSci">Reddit / Computer Science</a><br/>
-Just a great community that may be helpful in case you are not ready for Hacker News yet.</p></li>
<li><p><a href="http://www.reddit.com/r/Engineering">Reddit / Engineering</a><br/>
-This one is different from Hacker News because it focuses more on real world materials. Like big bridges, nuclear power plants and other cool stuff. Check it out.</p></li>
</ul>

	</p>
</div>
<%= render 'success_guide_menu' %>
