<div id="article">
<p>Quitting can be a good or a bad decision.</p>

<p>It will be important to learn how to distinguish between a good and a bad quit.</p>

<p>Oftentimes, you feel like you are stuck. Like you can&#8217;t do anything else. A lot of those times, you will be close to a very to a big breakthrough.</p>

<p>You just have to continue to push through it. And if you are courageous and persistent enough you will.</p>

<p>Sometimes you will quit. And you shouldn&#8217;t have. Those are your muscles building up tolerance to difficulty.</p>

<p>Sometimes though, you will quit for the right reasons. Many curious people have a long running list of things they want to be able to do and master. Oftentimes, a long list will lead to mediocrity.</p>

<p>Quitting on all but one of those items is probably a good thing. People only care about really excellent work, so it will often be more valuable to focus on that one thing.</p>

<p>If you have already found your thing, don&#8217;t quit because it is hard though. Embrace the climb and realize that when the climb is difficult, the view from the peak is often much more beautiful.</p>
</div>
<%= render 'success_guide_menu' %>
