<div id="article">
<h3>Ingenieria.</h3>

</br>

<p>If you speak Spanish, you would recognize where this word comes from – &#8220;ingenio&#8221; or &#8220;cleverness&#8221;.</p>

<p>In English, the root of the word is not quite so clear as in Spanish, but I can assure you that it is the same. We just need to go back to the Latin - <em>ingenium</em>.</p>

<p>Engineering should not be considered so much a practice, as much as it is a state of mind.</p>

<p>Engineering is found in everything and everywhere once we go back to the concept of where the word came from.</p>

<p>Architect. The designer. The person who thinks about systems. A word usually applied to a designer of buildings.</p>

<p>But if you&#8217;ll notice, when you look up architecture in today&#8217;s edge. You are likely to find that the most referenced architecture is software architecture.</p>

<p>Engineers were created because they would devise little hacks that would make the entire concept of building the system much easier. Thus people became focused on thinking about the little details and called them engineers.</p>

<p>But there is no point to being an engineer all by yourself if you can&#8217;t see the big picture. Just as there is no point in seeing the big picture if you can&#8217;t actually construct it.</p>

<p>Thus, we need to reframe these two words in the process of creation and realize when us creators should think like an architect and when we should think like an engineer.</p>

<p>The links attached are merely how these things work in a certain medium.</p>

<p>In fact, there is a new word that is currently rising in popularity and is replacing the original notion of engineer – which admittedly has been somewhat lost in our most recent years.</p>

<p>This new word is hacker. A hack is usually a way to work around the problem. Notice how much this matches up with the notion of cleverness.</p>

<p>One more thing. A hack can also be someone who never makes it and is made out to be a failure. The thing is, to make a clever hack, you have to make a lot of really bad one&#8217;s first. So a &#8220;bad&#8221; hack is someone who is about to become a good hack if they keep practing. </p>

<p>Though I do not agree with some of what he says, check out this essay on <a href="http://www.paulgraham.com/hp.html">Hackers &amp; Painters</a> by Paul Graham. It defines the term really well and gives you an even better idea of what it is like to make something.</p>

<p>Know what you are doing.</p>

<p>Become technical – which is what we really mean when we refer to an engineer in the current age. Know what you need to know to make a system work.
 </p>
 <p>At the same time, keep the original sense of what it means to be a hacker alive. Remain ingenious enough to hack – and take advantage of your combined technical knowledge and hacker spirit so that you can implement your grand architectural vision.</p>

</div>
