<div id="article">

  <img src="/images/success-guide/iphone-robot-head.jpeg">

<p>Robots are pretty badass.</p>

<p>You should be excited that you will get to work on one soon.</p>

<p>A robot is an assemblage of design, technical, engineering and hacking elements.</p>

<p>The end products usually do something for us. In fact, the term &#8220;robot&#8221; comes from a mix of Czech words that mean &#8220;forced labor&#8221;.</p>

<p>So robots, can do things for us, and that&#8217;s pretty cool. That&#8217;s the easy part to understand.</p>

<p>Given this simple definition, we need to accept the fact that a washing machine is a robot. As is a remote control cars. Though they may not sound that exciting, think of how much more time it takes to wash if you had to do it by hand? In fact, you probably wouldn&#8217;t wash your clothes. So a washing machine, a labor-doing machine is valuable because it makes our lives richer.</p>

<p>A washing machine is not the most exciting robot however as you might very well imagine. This topic of actually getting a robot to think is called very creativley &#8220;artifical intelligence&#8221;.</p>

<p>Robots and artifical intelligence are not the same thing. Artifical intelligence is when a robot can interpret its enviorment and maximize its chance of success.</p>

<p>Artifical intelligence can be something as simple as auto-correction of your spelling or something as complex as the replication of a thoughtful human brain with feelings and emotions.</p>

<p>Artifical intelligence is where the excitement in much of computer science and in the future of robots. If this interests you, I would suggest you begin looking into statistics and linear algebra (which is actually a little easier than calculus.)</p>

<p>What about the ubiquity of robots?</p>

<p>I gave you a hint about this a little earlier. A dishwasher is most certainly a robot. It is a very simple one, but it is a robot. More intersting are the robot-capable devices you carry around with you every day.</p>

<%= image_tag 'iphone-robot-wheels.jpeg' %>

<p>iPhones and Android and any other smartphone are devices waiting to be hacked and turned into something that is more than what they were orginally designed to be.</p>

<p>Look at these as a new component for your future robot. In fact, the pictures included here are examples of iPhone robots. I dare you to build one.</p>

<p>Other things you could do is automating regular actions in your rooms and in and around your house. Get little motors to open the curtains. Attach motion sensors to the lights. Use voice recognition is now fairly common and get everything to work by the sound of your song. <a href="http://lab.dereklow.co/brad/">Here</a> is an example of what a freshman in college did. By the way, you should also check out other parts of his website and try out experiments like the one he tries to do.</p>
</div>

<%= render 'success_guide_menu' %>
