<div id="article">
<p>The author of this guide is a very inexperienced shop worker. I do not know the jargon of the machine shop. I also do no really know how to build anything with it.</p>

<p>Despite that, I compiled a list of link, presented in the order in which they will probably be most useful. MIT has an amazing set of walkthrough through a shop and I suggest you pay attention. A mistake in the shop could literally cost you your finger.</p>

<p>If you pay attention, I&#8217;m sure you could go through this pretty successfully though.</p>

<p><a href="http://www.machinistblog.com/mit-techtv-machine-shop-videos/">MIT TechTV Machine Shop Videos</a>
-This seems to be a really comprehensive, well-put together compilation of how to work with and recognize the tools in a machine shop. This is the only webpage I found that organizes the links in such a helpful fashion.</p>

<p><a href="http://www.its.caltech.edu/~studshop/tools/">Machine Shop Tools</a>
-Very simple. It just provides the name and picture of one of the tools. Good place to spend a few minutes before walking in. Might even be good to make a quick set of flashcards from this. The Machine Shop is very scary for many of those starting out because it can be very dangerous!</p>

<p><a href="http://electron.mit.edu/~gsteele/mirrors/www.nmis.org/EducationTraining/machineshop/physics/intro.html">Metal Cutting Physics</a>
-This is just a specific link to another MIT website that shows a diagram of what happens when you cut. If you can start thinking about things this way, it will be a little easier to get what you want.</p>

<p><a href="http://www.hossmachine.info/Shop_Info.html">Hoss Machine shop videos</a>
-This is someone else&#8217;s version of this page. Provides links to stuff that does calculations for you. Also gives you a good template for keeping track of parts costs.</p>

<p><a href="http://machineshop.olin.edu/resources/resources.html">Franklin W. Olin College machine shop resources</a>
-Definitely not a place to start, though it does contain some pretty nifty blueprints for things you might want to build on your own someday.</p>

</div>
