body, h1,h2,h3,h4,h5,h6 {
  font-family: georgia;
}
.menu a {
  display: block;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
.section {
  margin-top:20px;
}
.section .headline {
  font-weight: bold;
}
#DOM .line {
  stroke: red !important;
  stroke-width: 10px !important;
  z-index: 9999 !important;
}
.container {
}

.article-about {
  background: #D15B5B;
  // padding: 0.9375rem;
  padding: 0.975rem;
}

.footer {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

