<div id="article">
<%= image_tag 'medici.png' %>

<p>Successful people tend to be very aware of what they’re doing and what needs to be done. They know what they are missing in their project to make it great. Successful teams are the same way. They can easily keep track of what they need to do and have detailed notes about everything they’ve done.</p>

<p>There will three things you will need to keep track of during the build. These are time, progress and money. Here are slight descriptions to help you keep this concept in mind.</p>

<h3 id="progress">Progress</h3>

<p>During the building of your robot, it is important that you learn to keep the big picture in mind. That is why everyday or at least once a week, you should take 15 minutes after you have finished tinkering with the robot and convene as a group to recognize what was done, figure out what still needs to be done, and keep track of what is still in progress.</p>

<p>Take note of who worked on what on that day.
Use your camera phone! Take pictures of your robot and anything you’ve added to it. Arranging these in a time-lapse at the end always makes for a thrilling experience. Record video! If the robot does something awesome for the first time, get it on video. Soon enough, you will be facing an incredibly difficult problem and you will need some cheering up. Watching your robot do something you once thought was impossible is a good way to keep you going. Anything is possible!</p>

<h3 id="time">Time</h3>

<p>Tracking time is kind of tedious, but if you are already keeping track of progress, it will be quite easy to keep a log of time. That way you can begin to take a look at how much time things usually take you.</p>

<p>Start out by recording your time on the robot by 15 minute intervals. Write down your time to the nearest 15 minutes by rounding up or down and do that at the end. You will grow to become more specific and perhaps will even find a way to track bathroom breaks.</p>

<p>A good thing to do is to keep track of what you do each day. I particularly like this internet tool called iDoneThis. iDoneThis sends you an email every night and all you have to do is email it back with what you did that day. Once you have enough entries, iDoneThis can begin to email you &#8220;memories&#8221; in the morning which will tell you what you accomplished a week, a month or a year ago.</p>

<h3 id="money">Money</h3>

<p>By innovating new ways of keeping track of money, the Medici in Florence were able to fund Leonardo da Vinci, Michelangelo, Botticelli and many more artist and scientists. It wouldn&#8217;t be too much of a stretch to call that family the leader in the great movement known as the Renaissance.</p>

<p>Money is important, especially when you are spending other people&#8217;s money such as donations, sponsorships and so on. Be sure to keep track of all expenses and receipts.</p>

<p>Assign one day a week where you scan in all of your expenditure receipts and checks that you may get in terms of income. Keep careful tabs on how much is coming in and out by inputting all of those items into an Excel spreadsheet. Assign various labels that describe the expenditure, for instance, was it online? Label what the expenditure was being used on, if for robot parts and such.</p>

<p>Many teams forget, but at the competition, you will have to be able to describe how much money you have spent on parts that compose the robot. It is a lot easier to do this when you have all the information on hand than at the end of the cycle.</p>

<p>Keeping track of money also makes it easier to obtain donations in the future. Say you were talking to the Shell oil company about your robot and you wanted them to donate to you. Asking for money as kids in high school is sure to ignite the compassion in them. However, if they can&#8217;t trust that this money will have a positive impact in what you&#8217;re doing, they probably won&#8217;t donate. If you can however tell them exactly how much you spend and have tables, charts and numbers to back it up, they will be much more likely to give you some mullah because it will be quite evident that you can allocate to obtain the best possible return.</p>

<p>This is tedious and annoying. But it is absolutely necessary and keeps you honest. Good luck!</p>

</div>
<%= render 'success_guide_menu' %>
