<div id="article">

<p>Contact : “Hello, this is &lt; name &gt; at &lt; company name &gt;.”</p>

<p>You : “Hi &lt; name of the person answering phone &gt;, this is &lt;< your name >&gt; at SciHigh in New Orleans. We&#8217;ve hear that you guys are interested in the New Orleans community and technolohical inovations. We&#8217;ve been working on a robot that fits both of those interests.</p>

<p>Contact : “What is this about? </p>

<p>You: We&#8217;d like to have you one of your awesome engineers take a look at it. We have some marketing copy ready.</p>

<p>Contact : &#8220;I&#8217;m sorry, but I can&#8217;t forward you on to them.&#8221;</p>

<p>You : &#8220;We understand that they are on a tight schedule but we can explain everything to them in five minutes. If they would rather see it on their own time, we have prepared a video which explain our robot as well.&#8221;</p>

<p>Contact : &#8220;Again, I&#8217;m sorry but they are currently very busy and I can&#8217;t do that.&#8221;</p>

<p>You : &#8220;&lt;<Contact name>&gt; thank you for your hard work. The pressure seems very intense. You guys probably need to work quite a bit. Is there any time when when it would be better for us to call? We really want to get you guys to look at the robot.&#8221;</p>

<hr />

<p>So this is probably one of the more complicated scenario&#8217;s you can deal with. Cold calling, as you may guess, is also very awkward and one always feels somewhat intrusive by just popping out of the blue like that. However, it will be very important for your team to call a bunch of companies and try to get them to sponsor you.</p>

<p>Appeal to the interest of the person on the phone. Try to get them to meet you. Be prepared with backup materials that may be easier if they say no.</p>

<p>Some teams have the advantage of having parents who are knowledge about robots, already involved in the industry and excited to mentor the students. For these groups it is easier to get started. If any of your team members has a parent or relative in the industry, do ask them to participate in the building of the robot. Additionally these parents help out with fundraising drives.</p>

<p>But for those teams that don&#8217;t, do not despair. If you are motivated and can &#8220;hustle&#8221; you will soon be able to recruit one by calling the companies below and trying to pitch them your project.</p>

<p>Remember that the best marketing startegy is to have a good product. So make sure you have something that is very promising. And don&#8217;t be afraid to tell people about it because if you don&#8217;t do that, then it will be hard to get anywhere. So &#8220;hustle&#8221; that phone and try to get through. Show up in person to that company. Take a field trip.</p>

<p>When you have something that is really cool, people usually want to help you out because they want to feel part of a movement that is transformative and life-chaning. Keep it up!</p>
</div>
