<div id="article">

<p>Entrepreneurship is a very tedious word to spell.
(Notice the French e&#8217;s and u&#8217;s which pop up in all the wrong places.)</p>

<p>It is however, quite an exciting concept. The literal definition of it is an undertaking, however in many ways, and entrepreneuer is like a demi-god. They can create something from nothing and have no reference point for what their product is to become.</p>

<p>They are creating a new future and usually end up changing the world in small, medium or huge size ways.</p>

<p>Oftentimes, entrepreneures become business-owners. For instance, Google became a business quite by chance. Sergey and Larry originally built the search engine to make their own perosnal lives much easier. </p>

<p>The topics under this section are arranged like so because of entreprenurships frequent association with business. But really all components here are part of entreprenurship. In fact, becoming technical is a thing most entreprenuers have to do just to build their own product. Mark Zuckerberg, the founder of Facebook, was not a computer science major at Harvard. Quite to the contrary, he started out in the classics department and he hoped to be a master in Latin.</p>

<p>So entreprenurship is more like knowing what your needs are and finding a way to satiate them.</p>

<p>So the topics like accoutning, cold-calling and marketing are really just there so that you can have even more skills to manage this.</p>

<p>These are extentions of self.</p>

</div>

<%= render 'success_guide_menu' %>
