<div id="article">
<p>Marketing is really very simple.</p>

<ol>
<li>Do something that is really awesome, that you like and are proud of.</li>
<li>Tell other people why they want to hear/buy/talk about it.</li>
</ol>

<p>Most people think that there is a trick to getting customers, donors, fans, etc.</p>

<p>There really is no trick other than to do something really awesome and tell people about it like you would to your best friend.</p>

<p>Back in the day, marketing used to mean soemthing a little different. Before the internet, getting your product into a market was actually pretty tough and costly. You couldn&#8217;t just find a phone number and contact a store in Baton Rouge if you were in New Orleans. It would take much more work than just a Google search. In this day and age, most communication and distribution channels are completley free and even more effective than they were previously. The blog that you should be keeping <a href="../../../blog/blog.html">here</a> should do.</p>

<p>In terms of the internet all you really have to do is make something cool and make a YouTube video about it which you will then post on every social netowrking website from LinkedIn, Twitter, YouTube, Reddit, Your Blog, Hacker News and so forth. If you&#8217;re good, millions and millions of people will hear about it.</p>

<p>Like the people in this video:</p>

<p><iframe src="http://www.youtube.com/embed/Vo0Cazxj_yc" frameborder="0" allowfullscreen></iframe></p>

<p>That doesn&#8217;t mean we are done with the old world style of cold-calling and getting peole to like you just yet. You will still have to do that to get inside large corporations and such. Even if you have a really famous YouTube video. This is the focus of other question however.</p>

<p>Good marketers focus on making their robot good.</p>
</div>

<%= render 'success_guide_menu' %>
