Gustavo Tavares
---------------
Open to discusions on

BMW,
Chinese,
job opportunities,
interesting miscellania
and
work-for-hire.

My LLC is based out of Louisiana.


email: <a href="mailto:gustavotavares@mac.com">gustavotavares@mac.com</a>


cel: (six-uno-seven) six-cuatro-six nine-two-six-five

