// Allows the use of rem-calc() or lower-bound() in your settings
@import "functions";

// Colors from palleton
$purp-darkest: #3B0D6A;
$purp-dark: #501B85;
$purp: #663399;
$purp-light: #7C4EAB;
$purp-lightest: #A079C8;

$complement-lightest: #FFF892;
$complement-light: #FDF368;
$complement: #E3D83F;
$complement-dark: #C6BB1C;
$complement-darkest: #9D9409;

$mardi-gras-yellow: #FFFF66;
$mardi-gras-green: #009966;

$red-darkest:  #CF77BF;
$red-dark:  #B54AA1;
$red:  #A22D8C;
$red-light:  #8E1476;
$red-lightest:  #70065C;

$blue-darkest: #8881CC;
$blue-dark: #5E56B0;
$blue: #443B9E;
$blue-light: #2D2389;
$blue-lightest: #1C146D;


